<header>
        <div class="container">
          <nav>
            <ul>
            <li>
                <a href='#' routerLink="/createreview">Make a review</a>
            </li>
            <li>
                <a href='#' routerLink="/createsong">Make a Song</a>
            </li>
            <li>
                <a href='#' routerLink="/createboth"> Make both!</a>
            </li>
            </ul>
          </nav>
        </div>
      </header>
      <body>
         You are logged in!
      </body>