<body>
<header>
        <div class="container">
          <nav>
            <ul class="main-nav">
            <li>
                <a href='#' routerLink="/createreview">Make a review</a>
            </li>
            <li>
                <a href='#' routerLink="/createsong">Upload a Song</a>
            </li>
            <li>
                <a href='#' routerLink="/createboth"> Make both!</a>
            </li>
            </ul>
          </nav>
        </div>

      <div class ="desc1">
        <h1>
          You are logged in!         
       </h1>
      </div>
      <div class ="desc">
        <h2>
         OurMusic 
        </h2>
          <h3>
      Welcome back        
          </h3>
      </div>
</header>
</body>