body{
    background-color: black;
}
span{
    color: white;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.inserted{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid white;
}
.Title{
    margin-left: 600px;
}
input{
    width: 15%;
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    height: 20px;
    font-size: 16px;
    color: #fff;
}