 <form #songForm='ngForm' (ngSubmit) ="submitSearch($event, songForm)">
        <div>
        <input id="searchTxt" type ="text" name="songTitle"placeholder="Enter Song title" [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form>

<form #artistForm='ngForm' (ngSubmit) ="submitSearchTwo($event, artistForm)">
        <div>
        <input type ="text" name="artist"placeholder="Enter artist"  [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form>

<form #albumForm='ngForm' (ngSubmit) ="submitSearchThree($event, albumForm)">
        <div>
        <input type ="text" name="album"placeholder="Enter Album"  [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form> 

<form #yearForm='ngForm' (ngSubmit) ="submitSearchFour($event, yearForm)">
        <div>
        <input type ="text" name="year"placeholder="Enter year"  [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form> 
<form #commentForm='ngForm' (ngSubmit) ="submitSearchFive($event, commentForm)">
        <div>
        <input type ="text" name="comment"placeholder="Enter comment"  [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form> 

<form #genreForm='ngForm' (ngSubmit) ="submitSearchSix($event, genreForm)">
        <div>
        <input type ="text" name="genre"placeholder="Enter genre"  [(ngModel)] ='song' >
        </div>
        <div>
            <button type ="submit" >Finished</button>
        </div>
</form> 
<div>
        <table>
        <thead>
            <tr>
            <th>SongTitle</th>
            <th>artist</th>
            <th>album</th>
            <th>year</th>
            <th>comment</th>
            <th>genre</th>
            <th>avgRating</th>
            <th>numReviews</th>
            <th>numRating</th>
            </tr>
             <tr *ngFor="let bk of songs">
            <td>{{bk.songTitle}}</td>
            <td>{{bk.artist}}</td>
            <td>{{bk.album}} </td>
            <td>{{bk.year}}</td>
            <td>{{bk.comment}}</td>
            <td>{{bk.genre}}</td>
            <td>{{bk.avgRating}} </td>
            <td>{{bk.numReviews}}</td>
            <td>{{bk.numRating}}</td>
            </tr> 
        </thead>
        </table>    
        </div>
    <!-- <button onclick >Search</button> --> 