*{
    margin: 0;
    padding: 0;
}
body
{
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(laughing.jpeg);
height: 100%;
background-repeat: no-repeat;
background-position: cover;
background-position: center;
}

.login{
    width: 320px;
    height: 420px;
    background:black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(100%, -70%);
    box-sizing: border-box;
    border-radius: 25px;
    zoom: 90%;
}
p{
    margin-top: 30px;
    padding:0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.login input{
    width: 80%;
    margin-left: 20px;
    margin-bottom: 25px;
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.login button{
    border: none;
    outline: none;
    margin-bottom: 25px;
    height: 40px;
    width: 150px;
    background: #fb2525;
    color:white;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 82px;
    margin-top: 10px;
}
.inserted{
    margin-left: 70px;
    font-weight: bold;
}