<body>
<header>
<div class ="wholeForm">
    <h1>Enter song details </h1>
        <form #creview2Form = "ngForm" (ngSubmit) ="onSubmit(creview2Form)">
         
            <input type ="text" name="songTitle" ngModel  placeholder="Enter songTitle">
            <br>
                <input type ="text" name="artist" ngModel placeholder="Enter artist">
            <br>
                <input type ="text" name="album" ngModel placeholder="Enter album">
            <br>
                 <input type ="text" name="year" ngModel placeholder="Enter year">
            <br>
                <input type ="text" name="comment" ngModel placeholder="Enter comment">
            <br>
                <input type ="text" name="genre" ngModel placeholder="Enter genre ">
            <br>
                <input type ="text" name="avgRating" ngModel placeholder="Enter avgRating">
            <br>
                <input type ="text" name="numReviews" ngModel placeholder="Enter numReviews">
            <br>
                 <input type ="text" name="numRating" ngModel placeholder="Enter numRating">
                 <br>
                <button type ="submit" >Create</button>
        </form>

    
<div class="top">
   <h2><div [innerHtml]="myData"></div></h2>
 </div>
 </div>
 </header>
</body>