<div>
        <table>
        <thead>
            <tr>
            <th>SongTitle</th>
            <th>artist</th>
            <th>album</th>
            <th>year</th>
            <th>comment</th>
            <th>genre</th>
            <th>avgRating</th>
            <th>numReviews</th>
            <th>numRating</th>
            </tr>
             <tr *ngFor="let bk of songs">
            <td>{{bk.songTitle}}</td>
            <td>{{bk.artist}}</td>
            <td>{{bk.album}} </td>
            <td>{{bk.year}}</td>
            <td>{{bk.comment}}</td>
            <td>{{bk.genre}}</td>
            <td>{{bk.avgRating}} </td>
            <td>{{bk.numReviews}}</td>
            <td>{{bk.numRating}}</td>
            </tr> 
        </thead>
        </table>    
        </div>