table{
    background-color:black;
    padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-collapse:separate;
  border:solid black 1px;
  border-radius:10px;
  -moz-border-radius:6px;
  zoom: 90%;
}
body{
    background-color: black;
}
.songlist{
    color:white;
    font-size: 20px;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    zoom: 90%;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

th {
    background-color: black;
    border: 2px solid white;
    text-align: center;
}

td:first-child {
border-left: none;
}
span{
color: white;
position: absolute;
bottom: 0;
left: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 60px;
}
h1{
    color: white;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.songname:hover{
    border-bottom: 2px solid white;
}