<body>
<header>
<div class ="desc">
    <span>Song and Review Form</span>
</div>
<div *ngIf="!section['first']">
<button class ="addBar"(click)="showReview(); ; section['first'] = !section['first']"> Do review as well? </button>
</div>
<div class="top">
        <div [innerHtml]="myData"></div>
</div>
<div class ="wholeForm1">
        <form #creview4Form = "ngForm" (ngSubmit) ="onSubmit(creview4Form)">
            <input type ="hidden" name="id" #id="ngModel" [(ngModel)] = "songservice.selectedSong.id">
            <br>
            <input type ="text" name="songTitle" ngModel  placeholder="Enter songTitle">
            <br>
            <input type ="text" name="artist" ngModel placeholder="Enter artist">
            <br>
            <input type ="text" name="album" ngModel placeholder="Enter album">
            <br>
            <input type ="text" name="year" ngModel placeholder="Enter year">
            <br>
            <input type ="text" name="comment" ngModel placeholder="Enter comment">
            <br>
            <input type ="text" name="genre" ngModel placeholder="Enter genre">
            <br>
            <input type ="text" name="avgRating" ngModel placeholder="Enter avgRating">
            <br>
            <input type ="text" name="numReviews" ngModel placeholder="Enter numReviews">
            <br>
            <input type ="text" name="numRating" ngModel placeholder="Enter numRating">
            <br>
            <div *ngIf="subFlag">
                <button type ="submit" >Create</button>
            </div>
        </form>
</div> 
<div class ="wholeForm" *ngIf="flag">
    <form  #creview5Form = "ngForm" (ngSubmit) ="onSubmit2(creview5Form, creview4Form)">
                    <input type ="text" name="songReviewed" ngModel  placeholder="Enter songReviewed">
                    <br>
                    <input type ="text" name="submittedBy" ngModel placeholder="Enter submittedBy">
                    <br>
                    <input type ="text" name="submittedOn" ngModel placeholder="Enter submittedOn ">
                    <br>
                    <input type ="text" name="avgRating" ngModel placeholder="Enter avgRating">
                    <br>
                    <input type ="text" name="ratingForObject" ngModel placeholder="Enter ratingForObject">
                    <br>
                    <input type ="text" name="description" ngModel placeholder="Enter description">
                    <br>
                    <input type ="text" name="numRating" ngModel placeholder="Enter numRating">
                    <br>
                    <div>
                        <button type ="submit" >Create</button>
                    </div>
        </form>
 </div>        
 </header>
</body>